$primary-color: #3a3a3a;
$secondary-color: #ffbb00;
$button-color: rgb(226, 226, 226);
$hover-color: rgb(212, 211, 211);
$default-color: #ffff;
$text-color: (
    "primary": #ffe601,
    "light": #ffff,
    "dark": #0000
);
$default-radius: 25px;
$tanda: 2px dotted black;



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}