$primary-color: #FFFFFF;
$secondary-color: #ffbb00;
$button-color: rgb(226, 226, 226);
$hover-color: rgb(212, 211, 211);
$default-color: #ffff;
$text-color: (
    "primary": #ffe601,
    "light": #ffff,
    "dark": #0000
);
$default-radius: 25px;
$tanda: 2px dotted black;