@import 'config';

* {
    margin: 0;
    padding: 0;
    max-height: 100vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: $default-color;
    display: flex;
    flex-wrap: wrap;
    // border: 2px dotted black; // sebagai tanda //
}

body > * {
    text-decoration: none;
}

nav {
    background-color: $secondary-color;
}

.sidebar {
    background: $primary-color;
    position: absolute;
    height: 100vh;
    width: 300px;
    transform: translateX(-100%);

    transition: transform 560ms;
    .sidebar-active {
        transform: translateX(0%);
    }
    * {
        text-align: center;
        position: flex;
        margin: 1px;
    }
    .sidebar-head{
        background-color: $secondary-color;
        height: 10%;
        display: flex;
        .sidebar-head-left {
            flex: 1;
        }
        .sidebar-head-mid {
            flex: 1 50%;
            align-items: middle;
        }
        .sidebar-head-foot {
            flex: 1;
        }
    }
    .sidebar-body{
        background-color: #3f3f;
        height: 80%;
    }
    .sidebar-foot{
        background: $secondary-color;
        height: 10%;
    }
}

main {
    display: flex;
    width:100%;
    min-height:100vh;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    padding-left: 0px;
    transition: padding-left 560ms;
    .main-active {
        padding-left: 300px;
    }
    .page {
        
    }
}